form {
  margin: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

input, button {
  margin: 30px;
  width: 250px;
  height: 40px;
  font-size: 18px;
}

.reservation-button {
  border: 2px solid white;
  background-color: teal;
  height: 50px;
  color: white;
}